body {
    background: linear-gradient(135deg, #b2f5ea, #bee3f8); /* Light Blue Gradient */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000; /* Black */
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav.options {
    display: flex;
    justify-content: center;
    background-color: #333; /* Dark Gray */
    padding: 10px 0;
}

nav.options a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav.options a:hover {
    background-color: #ff9800; /* Hover Effect Color */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.customer-details, .billing-details {
    background-color: #fff; /* White */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"], input[type="number"], textarea, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
    border-color: #4CAF50;
    outline: none;
}

input[type="submit"] {
    background-color: #007BFF; /* Blue */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker Blue */
}

footer {
    background-color: #333; /* Dark Gray */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
